### 소수 찾기
numberOfPrime 메소드는 정수 n을 매개변수로 입력받습니다.

1부터 입력받은 숫자 n 사이에 있는 소수의 개수를 반환하도록 numberOfPrime 메소드를 만들어 보세요.

소수는 1과 자기 자신으로만 나누어지는 수를 의미합니다.
(1은 소수가 아닙니다.)

10을 입력받았다면, 1부터 10 사이의 소수는 [2,3,5,7] 4개가 존재하므로 4를 반환
5를 입력받았다면, 1부터 5 사이의 소수는 [2,3,5] 3개가 존재하므로 3를 반환

In [1]:
num = 5

In [2]:
for i in range(2, num + 1):
    temp = list(filter(lambda x : i % x == 0, range(1, int(i ** 0.5) + 1)))
    
    if len(temp) == 1:
        print(i)

2
3
5

In [3]:
result = []

for i in range(2, num + 1):
    temp = list(filter(lambda x : i % x == 0, range(1, int(i ** 0.5) + 1)))
    
    if len(temp) == 1:
        result.append(i)

len(result)

3

#### 다른 사람 풀이

In [4]:
def numberOfPrime(n):
    def isprime(m):
        for i in range(3, round(m **0.5)+1, 2): 
            if(m % i is 0):
                return False
        return True
    return len([i for i in range(2, n+1) if(i is 2 or isprime(i) and i%2 is not 0)])

In [5]:
def numberOfPrime(n):
    # 1부터 n사이의 소수는 몇 개인가요?
    return 0
def is_prime(n):
    return all([(n%j) for j in range(2, int(n**0.5)+1)]) and n>1

def numberOfPrime(n):
    return [is_prime(x) for x in range(1, n+1)].count(True)

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(numberOfPrime(10))

4

In [6]:
n = 3

In [7]:
[(n%j) for j in range(2, int(n**0.5)+1)]

[]

In [8]:
all([0])

False

In [9]:
all([1])

True

In [10]:
all([(n%j) for j in range(2, int(n**0.5)+1)])

True

#### 다시 한번 풀어보기

In [11]:
num = 10

In [12]:
for i in range(2, num + 1):
    print(i)
    print([(i % x) for x in range(1, int(i ** 0.5) + 1)])
    print(all([(i % x) for x in range(1, int(i ** 0.5) + 1)]))

2
[0]
False
3
[0]
False
4
[0, 0]
False
5
[0, 1]
False
6
[0, 0]
False
7
[0, 1]
False
8
[0, 0]
False
9
[0, 1, 0]
False
10
[0, 0, 1]
False

In [13]:
for i in range(2, num + 1):
    print(i)
    print([(i % x) for x in range(2, int(i ** 0.5) + 1)])
    print(all([(i % x) for x in range(2, int(i ** 0.5) + 1)]))

2
[]
True
3
[]
True
4
[0]
False
5
[1]
True
6
[0]
False
7
[1]
True
8
[0]
False
9
[1, 0]
False
10
[0, 1]
False

In [14]:
sum = 0

for i in range(2, num + 1):
     if all([(i % x) for x in range(2, int(i ** 0.5) + 1)]):
            sum += 1
            
print(sum)

4

### 하샤드수
양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 

예를들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.

Harshad함수는 양의 정수 n을 매개변수로 입력받습니다. 이 n이 하샤드수인지 아닌지 판단하는 함수를 완성하세요.

예를들어 n이 10, 12, 18이면 True를 리턴 11, 13이면 False를 리턴하면 됩니다.

In [15]:
num = 10

for i in str(num):
    print(i)

1
0

In [21]:
num = 10
sum(list(map(int, str(num))))

TypeError: 'int' object is not callable

In [17]:
num = 10

lists = [int(i) for i in str(num)]
lists

[1, 0]

In [18]:
map(int, str(num))

In [19]:
type(map(int, str(num)))

map

In [25]:
list(map(int, str(num)))

[1, 0]

In [22]:
sum(list(map(int, str(num))))

TypeError: 'int' object is not callable

In [24]:
def Harshad(n):
    # n은 하샤드 수 인가요?

    return True if n % sum(list(map(int, str(n)))) == 0 else False

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(Harshad(18))

TypeError: 'int' object is not callable

In [23]:
def Harshad(n):
    # n은 하샤드 수 인가요?

    return n % sum(list(map(int, str(n)))) == 0

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(Harshad(18))

TypeError: 'int' object is not callable

### 최솟값 만들기
자연수로 이루어진 길이가 같은 수열 A,B가 있습니다. 

최솟값 만들기는 A, B에서 각각 한 개의 숫자를 뽑아 두 수를 곱한 값을 누적하여 더합니다. 

이러한 과정을 수열의 길이만큼 반복하여 최종적으로 누적된 값이 최소가 되도록 만드는 것이 목표입니다.

예를 들어 A = [1, 2] , B = [3, 4] 라면

1. A에서 1, B에서 4를 뽑아 곱하여 더합니다.
2. A에서 2, B에서 3을 뽑아 곱하여 더합니다.

수열의 길이만큼 반복하여 최솟값 10을 얻을 수 있으며, 이 10이 최솟값이 됩니다.

수열 A,B가 주어질 때, 최솟값을 반환해주는 getMinSum 함수를 완성하세요.

In [1]:
A = [2, 1]
B = [3, 4]

In [15]:
A.sort()
B.sort()

sum(list(map(lambda x: A[x] * B[len(B) - 1 - x], range(len(B)))))

109439024

In [5]:
A = [452, 1408, 3039, 5169, 5478, 5923, 6566, 7448, 7969, 8392]
B = [274, 580, 641, 992, 2338, 2611, 4660, 7096, 9340, 9460]

In [8]:
A.sort()
B.sort()

sum(map(lambda x: A[x] * B[len(B) - 1 - x], range(len(B))))

109439024

In [9]:
sum(map(lambda x, y : x * y, sorted(A), sorted(B, reverse=True)))

109439024

#### 다른 사람 풀이

In [3]:
def getMinSum(A,B):
    return sum(map(lambda a,b : a*b, sorted(A), sorted(B, reverse=True)))

In [ ]:
def getMinSum(A, B):
    return sum([a * b for a, b in zip(sorted(A), sorted(B, reverse=True))])

### 자연수를 뒤집어 리스트로 만들기

digit_reverse함수는 양의 정수 n을 매개변수로 입력받습니다

n을 뒤집어 숫자 하나하나를 list로 표현해주세요

예를들어 n이 12345이면 [5,4,3,2,1]을 리턴하면 됩니다.

In [12]:
n = 3673303

In [17]:
list(str(n)[::-1])

['3', '0', '3', '3', '7', '6', '3']

In [18]:
list(map(int, str(n)[::-1]))

[3, 0, 3, 3, 7, 6, 3]

### 콜라츠 추측
1937년 Collatz란 사람에 의해 제기된 이 추측은, 입력된 수가 짝수라면 2로 나누고, 홀수라면 3을 곱하고 1을 더한 다음, 결과로 나온 수에 같은 작업을 1이 될 때까지 반복할 경우 모든 수가 1이 된다는 추측입니다.

예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다. 

collatz 함수를 만들어 입력된 수가 몇 번 만에 1이 되는지 반환해 주세요. 

단, 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

In [1]:
num = 6

In [24]:
(num // 2) if (num % 2 == 0) else (num * 3 + 1)

3

In [25]:
while num != 1:
    print(num)
    temp = (num // 2 if num % 2 == 0 else num * 3 + 1)
    num = temp

6
3
10
5
16
8
4
2

In [6]:
result = [num]

while result[-1] != 1 :
    result.append(result[-1] // 2 if result[-1] % 2 == 0 else result[-1] * 3 + 1)
    
    if len(result) -1 == 500:
        print(-1)

result

[6, 3, 10, 5, 16, 8, 4, 2, 1]

In [2]:
def collatz(num):
    result = [num]

    while result[-1] != 1 :
        result.append(result[-1] // 2 if result[-1] % 2 == 0 else result[-1] * 3 + 1)

        if len(result) -1 == 500:
            return -1

    return len(result) - 1

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(collatz(6))

8

### 이상한 문자만들기
toWeirdCase함수는 문자열 s를 매개변수로 입력받습니다.

문자열 s에 각 단어의 짝수번째 인덱스 문자는 대문자로, 홀수번째 인덱스 문자는 소문자로 바꾼 문자열을 리턴하도록 함수를 완성하세요.

예를 들어 s가 try hello world라면 첫 번째 단어는 TrY, 두 번째 단어는 HeLlO, 세 번째 단어는 WoRlD로 바꿔 TrY HeLlO WoRlD를 리턴하면 됩니다.

주의 문자열 전체의 짝/홀수 인덱스가 아니라, 단어(공백을 기준)별로 짝/홀수 인덱스를 판단합니다.

In [1]:
s = "try hello world"

In [2]:
s.split()

['try', 'hello', 'world']

In [5]:
for word in s.split():
    for x in word:
        print(x)

t
r
y
h
e
l
l
o
w
o
r
l
d

In [20]:
for word in s.split():
    print("".join([(word[i].upper() if i % 2 == 0 else word[i].lower()) for i in range(len(word))]))

TrY
HeLlO
WoRlD

In [23]:
result = []

for word in s.split():
    result.append("".join([(word[i].upper() if i % 2 == 0 else word[i].lower()) for i in range(len(word))]))

print(" ".join(result))

TrY HeLlO WoRlD

### 가장 긴 펠린드롬
앞뒤를 뒤집어도 똑같은 문자열을 palindrome이라고 합니다.

longest_palindrom함수는 문자열 s를 매개변수로 입력받습니다.

s의 부분문자열중 가장 긴 palindrom의 길이를 리턴하는 함수를 완성하세요.

예를들어 s가 토마토맛토마토이면 7을 리턴하고 토마토맛있어이면 3을 리턴합니다.

In [22]:
s = "토마토맛토마토"

In [2]:
s == s[::-1]

True

In [48]:
s = "토마토맛있어"

In [4]:
s == s[::-1]

False

In [15]:
for i in range(len(s)):
    temp = s[:(i + 1)]
    
    if temp == temp[::-1]:
        print(temp)

토
토마토
토마토맛토마토

In [16]:
result = ''

for i in range(len(s)):
    temp = s[:(i + 1)]
    
    if temp == temp[::-1]:
        result = temp

len(result)

7

In [28]:
list(filter(lambda x: s[:( x+1 )] == s[:( x+1 )][::-1], range(len(s))))

[0, 2]

In [29]:
[s[:(i + 1)] if s[:(i + 1)] == s[:(i + 1)][::-1] else '' for i in range(len(s))]

['토', '', '토마토', '', '', '']

In [30]:
list(filter(lambda x: s[:( x+1 )] == s[:( x+1 )][::-1], range(len(s))))[-1]

2

In [34]:
s[::-1]

'어있맛토마토'

In [36]:
list(map(str, s))

['토', '마', '토', '맛', '있', '어']

In [37]:
list(map(str, s[::-1]))

['어', '있', '맛', '토', '마', '토']

In [52]:
for i in range(len(s)):
    for j in range(i + 1, len(s) + 1):
        print(str(i) + " : " + str(j))
        print(s[i:j])
        print(s[i:j][::-1])

0 : 1
토
토
0 : 2
토마
마토
0 : 3
토마토
토마토
0 : 4
토마토맛
맛토마토
0 : 5
토마토맛있
있맛토마토
0 : 6
토마토맛있어
어있맛토마토
1 : 2
마
마
1 : 3
마토
토마
1 : 4
마토맛
맛토마
1 : 5
마토맛있
있맛토마
1 : 6
마토맛있어
어있맛토마
2 : 3
토
토
2 : 4
토맛
맛토
2 : 5
토맛있
있맛토
2 : 6
토맛있어
어있맛토
3 : 4
맛
맛
3 : 5
맛있
있맛
3 : 6
맛있어
어있맛
4 : 5
있
있
4 : 6
있어
어있
5 : 6
어
어

In [54]:
result = []

for i in range(len(s)):
    for j in range(i + 1, len(s) + 1):
        if s[i:j] == s[i:j][::-1]:
            result.append(len(s[i:j]))

print(result)
print(max(result))

[1, 3, 1, 1, 1, 1, 1]
3

### 2016년
2016년 1월 1일은 금요일입니다. 

2016년 A월 B일은 무슨 요일일까요? 

두 수 A,B를 입력받아 A월 B일이 무슨 요일인지 출력하는 getDayName 함수를 완성하세요. 

요일의 이름은 일요일부터 토요일까지 각각

`SUN,MON,TUE,WED,THU,FRI,SAT`

를 출력해주면 됩니다. 예를 들어 A=5, B=24가 입력된다면 5월 24일은 화요일이므로 TUE를 반환하면 됩니다.

In [58]:
a = 1
b = 1
week = ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']

In [59]:
from datetime import datetime

In [60]:
dt = datetime(2016, a, b)
dt.weekday()

4

In [61]:
week[dt.weekday()]

'FRI'

### 두 정수 사이의 합
adder함수는 정수 a, b를 매개변수로 입력받습니다.

두 수와 두 수 사이에 있는 모든 정수를 더해서 리턴하도록 함수를 완성하세요. a와 b가 같은 경우는 둘 중 아무 수나 리턴하세요.

예를들어 a가 3, b가 5이면 12를 리턴하면 됩니다.

a, b는 음수나 0, 양수일 수 있으며 둘의 대소 관계도 정해져 있지 않습니다.

In [62]:
a = 3
b = 5
list(map(int, range(a, b + 1)))

[3, 4, 5]

In [63]:
sum(list(map(int, range(a, b + 1))))

12

In [66]:
a = 98
b = 85

if a > b:
    list(map(int, range(b, a + 1)))
else:
    list(map(int, range(a, b + 1)))

In [67]:
list(map(int, range(min(a, b), max(a, b) + 1)))

[85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

In [68]:
sum(list(map(int, range(min(a, b), max(a, b) + 1))))

1281

In [70]:
sum(range(min(a, b), max(a, b) + 1))

1281