In [1]:
import pandas as pd

## use map function

In [2]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]

df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])

df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [4]:
def extract_year(row):
    return row.split('-')[0]

In [5]:
df['year'] = df['yyyy-mm-dd'].map(extract_year)

- 컬럼을 변경 가능
- dic를 직접 전달하여 원하는 값으로 변경

In [6]:
job_list = [{'age': 20, 'job': 'student'},
         {'age': 30, 'job': 'developer'},
         {'age': 30, 'job': 'teacher'}]

df = pd.DataFrame(job_list)

df

   age        job
0   20    student
1   30  developer
2   30    teacher

In [7]:
df.job = df.job.map({"student" : 1, "developer" : 2, "teacher" : 3})

In [8]:
df

   age  job
0   20    1
1   30    2
2   30    3

## Applymap

- 모든 컬럼의 적용하고 싶을 경우

In [10]:
import numpy as np

In [11]:
x_y = [{'x': 5.5, 'y': -5.6, 'z':-1.1},
         {'x': -5.2, 'y': 5.5, 'z':-2.2},
         {'x': -1.6, 'y': -4.5, 'z':-3.3}]

df = pd.DataFrame(x_y)

df

     x    y    z
0  5.5 -5.6 -1.1
1 -5.2  5.5 -2.2
2 -1.6 -4.5 -3.3

In [12]:
df = df.applymap(np.around)

In [13]:
df

     x    y    z
0  6.0 -6.0 -1.0
1 -5.0  6.0 -2.0
2 -2.0 -4.0 -3.0