In [1]:
import pandas as pd

In [27]:
friend_list = [ 
                {'name': 'John', 'age' : 20, 'job' : 'studend'},
                {'name': 'Jenny', 'age' : 30, 'job' : None},
                {'name': 'Nate', 'age' : 30, 'job' : 'teacher'}
              ]

In [28]:
df = pd.DataFrame(friend_list)
df = df[['name', 'age', 'job']]

In [6]:
df

    name  age      job
0   John   20  studend
1  Jenny   30     None
2   Nate   30  teacher

In [7]:
df.to_csv('friends.csv')

default : `index=True`, `header=True`

In [25]:
df.to_csv('friends.csv', index=True, header=True)

#### row_id를 생략하고 싶다
- `index=False`

#### header를 생략하고 싶다
- `header=False`

In [9]:
df.to_csv('friends.csv', index=False, header=True)

In [10]:
df.to_csv('friends.csv', index=True, header=False)

In [11]:
df.to_csv('friends.csv', index=False, header=False)

#### None 값 처리
- `na_rep`

In [30]:
df.to_csv('friends.csv', na_rep = '-')

### header가 없는 데이터의 경우

In [14]:
friend_list = [ 
                ['John', 20, 'student'],
                ['Jenny', 30, 'developer'],
                ['Nate', 30, 'teacher'] 
              ]

In [15]:
df = pd.DataFrame.from_records(friend_list)

In [17]:
df

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher

In [21]:
df.to_csv('friend_list_from_df.csv', header = ['name', 'age', 'job'])