# Pandas

## Pandas 란?
- python library
- data 수정, 변경

In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv('data/friend_list.csv')

In [4]:
data_frame

          Name        EmailAddress FirstName LastName  Password
0  adamsta0109  terrya@contoso.edu     Terry    Adams   1091990
1  beebeab0211    annb@contoso.edu       Ann    Beebe   2111991
2  cannocc0328  chrisc@contoso.edu     Chris   Cannon   3281986

### 왜 굳이 excel을 안쓰고 pandas를 쓰는가?
- excel은 프로그램을 만들 수 없다
- pandas는 numpy를 사용
    - 수학적 계산에 강력한 퍼포먼스

### Data_frame
- 2차원 형태의 자료구조
- series로 구성

In [5]:
data_frame.head(2)

          Name        EmailAddress FirstName LastName  Password
0  adamsta0109  terrya@contoso.edu     Terry    Adams   1091990
1  beebeab0211    annb@contoso.edu       Ann    Beebe   2111991

In [6]:
data_frame.tail(2)

          Name        EmailAddress FirstName LastName  Password
1  beebeab0211    annb@contoso.edu       Ann    Beebe   2111991
2  cannocc0328  chrisc@contoso.edu     Chris   Cannon   3281986

In [7]:
type(data_frame.Name)

pandas.core.series.Series

### Series
- 1차원 형태의 자료구조
- Data_frame의 colume
- python의 list로 만든다

In [8]:
list_tap = [1, 2, 3]

In [9]:
list_tap

[1, 2, 3]

In [10]:
s1 = pd.core.series.Series([1, 2, 3])

In [11]:
s2 = pd.core.series.Series(['one', 'two', 'three'])

In [13]:
pd.DataFrame(data = dict(num = s1, word = s2))

   num   word
0    1    one
1    2    two
2    3  three