#### 행렬 곱

In [1]:
import numpy as np

In [10]:
A = [[1], 
     [1]]
B = [[1, 1]]

In [11]:
A * B

TypeError: can't multiply sequence by non-int of type 'list'

In [12]:
np.dot(A, B)

array([[1, 1],
       [1, 1]])

In [17]:
A = ((1), 
     (1)
B = ((1, 1))

SyntaxError: invalid syntax (<ipython-input-17-f7ad6842efaa>, line 3)

In [16]:
np.dot(A, B)

ValueError: shapes (2,1) and (2,) not aligned: 1 (dim 1) != 2 (dim 0)

- tuple은 ()가 하나의 요소이기 때문에 적용이 되지 않는다

In [23]:
A = [[1, 1], 
     [1, 1]]
B = [[1],
    [1]]

In [24]:
np.dot(A, B)

array([[2],
       [2]])

In [25]:
A = [[1, 1], 
     [1, 1]]
B = [[1, 1]]

In [26]:
np.dot(A, B)

ValueError: shapes (2,2) and (1,2) not aligned: 2 (dim 1) != 1 (dim 0)

- A의 열의 개수와 B의 행의 개수가 맞아야 곱셈 연산 가능

### [파이썬으로 배우는 알고리즘 트레이딩](https://wikidocs.net/3037)

##### 조건
- list, tuple, dic 세가지를 이용하여 풀 것

#### 문제 3-1
2015년 9월 초의 네이버 종가는 표 3.2와 같습니다. 

09/07의 종가를 리스트의 첫 번째 항목으로 입력해서 naver_end_price라는 이름의 리스트를 만들어보세요.

|날짜|요일|종가|
|--|--|--|
|09/11|금|488,500|
|09/10|목|500,500|
|09/09|수|501,000|
|09/08|화|461,500|
|09/07|월|474,500|

In [52]:
naver_end_price_list = []
naver_end_price_tuple = []

In [53]:
import collections

def input_list(date, day, price):
    return [date, day, price]

def input_tuple(date, day, price):
    named = collections.namedtuple("named", 'date, day, price')
    
    return named(date, day, price)

In [54]:
naver_end_price_list.append(input_list('0907', '월', 474500))
naver_end_price_tuple.append(input_tuple('0907', '월', 474500))

naver_end_price_list.append(input_list('0908', '화', 461500))
naver_end_price_tuple.append(input_tuple('0908', '화', 461500))

naver_end_price_list.append(input_list('0909', '수', 501000))
naver_end_price_tuple.append(input_tuple('0909', '수', 501000))

naver_end_price_list.append(input_list('0910', '목', 500500))
naver_end_price_tuple.append(input_tuple('0910', '목', 500500))

naver_end_price_list.append(input_list('0911', '금', 488500))
naver_end_price_tuple.append(input_tuple('0911', '금', 488500))

In [55]:
naver_end_price_list

[['0907', '월', 474500],
 ['0908', '화', 461500],
 ['0909', '수', 501000],
 ['0910', '목', 500500],
 ['0911', '금', 488500]]

In [71]:
naver_end_price_tuple

[named(date='0907', day='월', price=474500),
 named(date='0908', day='화', price=461500),
 named(date='0909', day='수', price=501000),
 named(date='0910', day='목', price=500500),
 named(date='0911', day='금', price=488500)]

#### 문제 3-2
문제 3-1에서 만든 naver_end_price를 이용해 해당 주에 종가를 기준으로 가장 높았던 가격을 출력하세요. 

(힌트: 리스트에서 최댓값을 찾는 함수는 max()이고, 화면에 출력하는 함수는 print()입니다.)

In [43]:
naver_end_price_list[:]

[['0911', '금', 488500],
 ['0910', '목', 500500],
 ['0909', '수', 501000],
 ['0908', '화', 461500],
 ['0907', '월', 474500]]

In [49]:
naver_end_price_list[0][2]

488500

In [66]:
price_list = [i[2] for i in naver_end_price_list]

In [67]:
max(price_list)

501000

In [68]:
price_list.index(max(price_list))

2

In [69]:
print(naver_end_price_list[price_list.index(max(price_list))])

['0909', '수', 501000]

In [76]:
max(naver_end_price_list, key = lambda l : l[2])

['0909', '수', 501000]

In [73]:
naver_end_price_tuple.price

AttributeError: 'list' object has no attribute 'price'

In [74]:
naver_end_price_tuple[0].price

474500

In [61]:
max([i.price for i in naver_end_price_tuple])

501000

In [75]:
max(naver_end_price_tuple, key = lambda t: t.price)

named(date='0909', day='수', price=501000)

#### 문제 3-3
문제 3-1에서 만든 naver_end_price를 이용해 해당 주에 종가를 기준으로 가장 낮았던 가격을 출력하세요. 

(힌트: 리스트에서 최솟값을 찾는 함수는 min()이고, 화면에 출력하는 함수는 print()입니다.)

In [77]:
min(naver_end_price_list, key = lambda l : l[2])

['0908', '화', 461500]

In [78]:
min(naver_end_price_tuple, key = lambda t : t.price)

named(date='0908', day='화', price=461500)

#### 문제 3-4
문제 3-1에서 만든 naver_end_price를 이용해 해당 주에서 가장 종가가 높았던 요일과 가장 종가가 낮았던 요일의 가격 차를 화면에 출력하세요.

In [79]:
list_max = max(naver_end_price_list, key = lambda l : l[2])
list_min = min(naver_end_price_list, key = lambda l : l[2])

In [81]:
list_max[2] - list_min[2]

39500

In [82]:
max([i[2] for i in naver_end_price_list]) - min([i[2] for i in naver_end_price_list])

39500

In [83]:
tuple_max = max(naver_end_price_tuple, key = lambda t : t.price)
tuple_min = min(naver_end_price_tuple, key = lambda t : t.price)

In [84]:
tuple_max.price - tuple_min.price

39500

In [85]:
max([i.price for i in naver_end_price_tuple]) - min([i.price for i in naver_end_price_tuple])

39500

#### 문제 3-5
문제 3-1에서 만든 naver_end_price를 이용해 수요일의 종가를 화면에 출력하세요.

In [90]:
index = [i[1] for i in naver_end_price_list].index("수")
naver_end_price_list[index][2]

501000

In [91]:
index = [i.day for i in naver_end_price_tuple].index("수")
naver_end_price_tuple[index].price

501000

#### 문제 3-6

문제 3-1의 표 3.2를 이용해 날짜를 딕셔너리의 키 값으로, 종가를 딕셔너리의 값으로 사용해 naver_end_price2라는 딕셔너리를 만드세요.

In [97]:
naver_end_price_list_to_dict = {}

for l in naver_end_price_list:
    naver_end_price_list_to_dict[l[0]] = l[2]

naver_end_price_list_to_dict

{'0907': 474500,
 '0908': 461500,
 '0909': 501000,
 '0910': 500500,
 '0911': 488500}

In [100]:
naver_end_price_tuple_to_dict = {}

for t in naver_end_price_tuple:
    naver_end_price_tuple_to_dict[t.date] = t.price

naver_end_price_tuple_to_dict

{'0907': 474500,
 '0908': 461500,
 '0909': 501000,
 '0910': 500500,
 '0911': 488500}

#### 문제 3-7

문제 3-6에서 만든 naver_end_price2 딕셔너리를 이용해 09/09일의 종가를 출력하세요.

In [99]:
naver_end_price_list_to_dict['0909']

501000

In [101]:
naver_end_price_tuple_to_dict['0909']

501000